*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.clock{
    min-width: (10%);
    font-size: 1.4rem;
    margin: 0 auto;
    color: white;
    border: 1px solid white;
    width: 50%;
    text-align: center;
    background-color: rgb(0,0,22);
    padding: 1rem;
}

.today{
    margin-bottom: 10px;
}

.time{
    margin-top: 10px;
}