@mixin main_box {
    width: 47%;
    height: 95%;
    background-color: rgb(255, 255, 255);

}

@mixin useFont {
    letter-spacing: 1px;
    font-family: 'Jua';

}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    top: 100px;
    left: 10px;

    background-color: rgba(211, 234, 255, 0.6);
    box-shadow: 1px 5px 5px rgb(146, 146, 146);
    border-radius: 3px;

    width: calc(100% - 20px);
    height: calc(100% - 130px);

    .main_left {
        @include main_box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(125, 192, 252, 0.8);
        border:1px solid white;
        border-radius: 18px;
        
        .main_upper_area{
            width: 100%;
            height: 50%;

            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;

            .current_figure{
                margin-bottom: 10px;
                font-size: 2rem;
                font-weight: bold;
                color:rgb(255, 255, 255);
            }

            img{
                width: 25%;
                border-radius: 50%;
            }

            h2{
                position: relative;
                left:-3px;
                font-size:1.2rem;
                font-weight: 700;
                @include useFont;
  
            }

        }

        .main_bottom_area{
            position: relative;
            background-color: rgb(212, 235, 255);
            width: 50%;
            height: 40%;
            border-radius: 25%;
            border: 1px solid rgb(71, 172, 255);

            .success_rate{
                position: absolute;
                top:45%;
                left:50%;
                transform: translate(-50%, -50%);
                display: flex;
                @include useFont;

                .rate_text{
                    font-size: 1rem;
                    font-weight: 600;
                    margin-right: 10px;
                    
                    
                }
                .rate_figure{
                    font-size: 1rem;
                    font-weight: bold;
                    color: rgb(255, 77, 77);
                    
                }
            }

            .try_btn{
                @include useFont;

                position: absolute;
                top:60%;
                left:50%;
                transform: translate(-50%, -50%);

                background-color: rgb(1, 14, 90);
                color:rgb(107, 255, 255);
                padding: 5px 10px;
                border-radius: 15px;

                cursor:pointer;
                transition: font-size 0.5s ease-in-out 0.05s;

            }

            .try_btn:hover{
                font-size:1.2rem;
            }
        }

    }

    .main_right {
        @include main_box;
    }
}