@mixin main_box {
    width: 47%;
    height: 95%;
    background-color: rgb(255, 255, 255);

}

@mixin useFont {
    letter-spacing: 1px;
    font-family: 'Jua';

}

$table-border-color: #008cba;

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    top: 100px;
    left: 10px;

    background-color: rgba(211, 234, 255, 0.6);
    box-shadow: 1px 5px 5px rgb(146, 146, 146);
    border-radius: 3px;

    width: calc(100% - 20px);
    height: calc(100% - 130px);

    

    .main_left {
        @include main_box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(125, 192, 252, 0.8);
        border:1px solid white;
        border-radius: 18px;
        
        .main_upper_area{
            width: 100%;
            height: 50%;

            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;

            .current_figure{
                transition: font-size 0.5s ease-in-out 0.05s;
                margin-bottom: 1rem;
                font-size: 2.5rem;
                font-weight: 700;
                color:rgb(41, 41, 41);

                &::before{
                    content:'+';
                }
            }

            

            img{
                width: 25%;
                transition: border-radius 0.8s ease-in-out 0.05s;
                border-radius: 50%;
            }

            h2{
                position: relative;
                left:-3px;
                font-size:1.2rem;
                font-weight: 700;
                @include useFont;
                transition: font-size 0.5s ease-in-out 0.05s;
  
            }

        }

        .main_bottom_area{
            transition: width 0.5s ease-in-out 0.05s;
            transition: height 0.5s ease-in-out 0.05s;
            position: relative;
            background-color: rgb(212, 235, 255);
            width: 50%;
            height: 40%;
            border-radius: 25%;
            border: 1px solid rgb(71, 172, 255);

            .success_rate{
                position: absolute;
                width: 100%;
                top:35%;
                left:50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                @include useFont;

                .rate_text{
                    font-size: 1rem;
                    font-weight: 600;
                    margin-right: 10px;
                    transition: font-size 0.5s ease-in-out 0.05s;
                    
                }
                .rate_figure{
                    font-size: 1rem;
                    font-weight: bold;
                    color: rgb(255, 77, 77);
                    transition: font-size 0.5s ease-in-out 0.05s;
                }

                .rate_figure::after{
                    content:'%';
                }
            }

            .fail_rate{
                position: absolute;
                width: 100%;
                top:45%;
                left:50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                @include useFont;

                .rate_text{
                    font-size: 1rem;
                    font-weight: 600;
                    margin-right: 10px;
                    transition: font-size 0.5s ease-in-out 0.05s;
                }

                .rate_figure{
                    font-size: 1rem;
                    font-weight: bold;
                    color: rgb(255, 77, 77);
                    transition: font-size 0.5s ease-in-out 0.05s;
                }

                .rate_figure::after{
                    content:'%';
                }
            }

            .try_btn{
                @include useFont;

                position: absolute;
                top:60%;
                left:50%;
                transform: translate(-50%, -50%);

                background-color: rgb(1, 14, 90);
                color:rgb(107, 255, 255);
                padding: 5px 10px;
                border-radius: 15px;

                cursor:pointer;
                transition: font-size 0.5s ease-in-out 0.05s;

            }

            .try_btn:hover{
                font-size:1rem;
            }

            .try_btn:disabled {
                background: #ccc;
              }

            .reset_btn{
                @include useFont;

                position: absolute;
                top:70%;
                left:50%;
                transform: translate(-50%, -50%);

                background-color: rgb(1, 14, 90);
                color:rgb(107, 255, 255);
                padding: 5px 10px;
                border-radius: 15px;

                cursor:pointer;
                transition: font-size 0.5s ease-in-out 0.05s;

            }

            .reset_btn:hover{
                font-size:1rem;
            }
        }

    }

    .main_right {
        @include main_box;

        .wrap_table{
            display: flex;
            justify-content: center;
            font-family: "Jua";
            height: 100%;

            #probability_table{
                width: 80%;
                max-width: 100%;
                margin: 10px;
                text-align: center;
                border-collapse: collapse;

                thead{
                    border-bottom: 3px solid $table-border-color;
                    font-weight: 600;
                    
                    tr{
                        th{
                            padding: 0.3rem 0;
                            font-size:1.1rem;
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            padding-top:0.8rem;
                            font-size:0.9rem;
                        }
                    }
                    border-bottom: 3px solid $table-border-color;
                }
            }

        }
    }
}

@mixin reduce_fontsize {
    font-size:1rem;
    transition: font-size 0.5s ease-in-out 0.05s;
}

@media screen and (max-width:1024px) {
    .main{
        .main_left{
            .main_upper_area{
                .current_figure{
                    transition: font-size 0.5s ease-in-out 0.05s;
                    font-size: 1.6rem;
                }

                img{
                    transition: border-radius 0.8s ease-in-out 0.05s;
                    border-radius: 25%;
                }

                h2{
                    transition: font-size 0.5s ease-in-out 0.05s;
                    font-size: 1rem;
                }
            }

            .main_bottom_area{
                .success_rate{
                    .rate_text{
                        @include reduce_fontsize;
                    }
                    .rate_figure{
                        @include reduce_fontsize;
                    }
                }
                .fail_rate{
                    .rate_text{
                        @include reduce_fontsize;
                    }
                    .rate_figure{
                        @include reduce_fontsize;
                    }
                }
                .try_btn{
                    font-size:0.7rem;
                }
                .try_btn:hover{
                    font-size:0.8rem;
                }
                .reset_btn{
                    font-size:0.7rem;
                }
                .reset_btn:hover{
                    font-size:0.8rem;
                }
            }

        }
    }
    
}

@media screen and (max-width:768px) {
    .main{
        flex-direction: column;
        height: calc(100% - 130px);

        .main_left{
            width: 100%;
            height: 50%;

            .main_upper_area{
                svg{
                    display:none;
                }

                img{
                    width: 15%;
                }

                h2{
                    margin : 15px 0 0 0;
                    left:0;
                }
            }

            .main_bottom_area{
                width: 70%;
                height: 35%;

                .success_rate{
                    margin-bottom:5px;
                    
                }
                .fail_rate{
                    margin:5px 0;
                    
                }

                
                .wrap_btn{
                    display: flex;


                    .try_btn{ 
                        top:75%;                    
                        left:35%;
                        font-size:0.5rem;
                    }

                    .reset_btn{
                        top:75%; 
                        left:65%;
                        font-size:0.5rem;
                    }
                }

                
            }

        }

        .main_right{
            width: 100%;
            height: 50%;

            .wrap_table{
                display: flex;
                justify-content: center;
                font-family: "Jua";
                height: 100%;
    
                #probability_table{
                    width: 80%;
                    max-width: 100%;
                    margin: 10px;
                    text-align: center;
                    border-collapse: collapse;
    
                    thead{
                        border-bottom: 3px solid $table-border-color;
                        font-weight: 600;
                        
                        tr{
                            th{
                                padding: 0.15rem 0;
                                font-size:0.9rem;
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                padding-top:0.4rem;
                                font-size:0.6rem;
                            }
                        }
                        border-bottom: 3px solid $table-border-color;
                    }
                }
    
            }
        }
    }
    
}

@media screen and (max-width: 400px) {
    .main{
        .main_left{
            .main_upper_area{
                h2{
                    margin : 15px 0 0 0;
                    left:0;
                    font-size:0.9rem;
                }
            }

            .main_bottom_area{
                width: calc(100% - 1px);
                height: 25%;
                border-radius: 0;
                .success_rate{
                    margin-bottom:5px;
                    .rate_text{
                        font-size:0.8rem;
                    }
                    .rate_figure{
                        font-size:0.8rem;
                    }
                }
                .fail_rate{
                    margin:5px 0;
                    .rate_text{
                        font-size:0.8rem;
                    }
                    .rate_figure{
                        font-size:0.8rem;
                    }
                }

                .wrap_btn{
                    .try_btn{
                        left:30%;
                    }
                    .reset_btn{
                        left:70%;
                    }
                }

            }

        }
    }
}